<section class="bg-image" id="videos">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">The Trustlines Network is the original Ripple idea built on Ethereum</h2>
          <hr class="primary">
      </div>
  </div>
      <!--<div class="col-lg-5 col-xs-12 text-left easy-onboarding-text-0">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Permissionless Mobile Payments</h2>
                  <hr class="primary">
              </div>
          </div>
          <div class="center-when-small">
            <p>The Trustlines app will come with a <b>unique onboarding experience</b>.</p>
            <p>Contrary to traditional payment apps, there is no need for having a bank account, ID or providing a deposit.</p>
          </div>
           <div class="col-lg-12 text-center">
             <img class="ethereum_mobile" src="../img/ethereum_mobile.png" alt="ethereum mobile phone">
           </div>-->

           <div class="container-fluid" >
             <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="0">
                 <!-- Wrapper for slides -->
                 <div class="container">
                 <div class="row">
                   <div class="col-lg-12 col-md-12">
                 <div class="carousel-inner col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2" style="width: 80%; padding: 0px; "!important>
                     <div class="item active">
                         <div class="container-fluid" >
                             <div class="row" >
                                 <div class="col-md-10" >
                                   <div class="embed-responsive embed-responsive-16by9 text-center" >
                                     <iframe src="https://www.youtube.com/watch?v=ZztF4NalCfk" allowfullscreen ></iframe>
                                   </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="container-fluid">
                             <div class="row">
                                 <div class="col-md-10">
                                   <div class="embed-responsive embed-responsive-16by9 text-center">
                                     <iframe src="https://www.youtube.com/watch?v=qOiHT6zLMBg" allowfullscreen></iframe>
                                   </div>
                                 </div>

                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="container-fluid">
                             <div class="row">
                                 <div class="col-md-10">
                                   <div class="embed-responsive embed-responsive-16by9 text-center">
                                     <iframe src="https://www.youtube.com/watch?v=i2fqGjPqYX4" allowfullscreen></iframe>
                                   </div>
                                 </div>

                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="container-fluid">
                             <div class="row">
                                 <div class="col-md-10">
                                   <div class="embed-responsive embed-responsive-16by9 text-center">
                                     <iframe src="https://www.youtube.com/watch?v=CgufxZ4Srwk" allowfullscreen></iframe>
                                   </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 <!-- End Item -->
                 </div>

                   <!-- End Carousel Inner --><div class="spacer">
                   <div class="controls col-lg-2 col-md-2" id="slidercontrols">
                       <ul class="nav">
                           <li data-target="#custom_carousel" data-slide-to="0" class="active"><a href="#" style="padding-top: 0px"><img src="../img/thumb_1.jpg" style="width:100px; "><small><br>Basic Mechanics</small></a></li>
                           <li data-target="#custom_carousel" data-slide-to="1"><a href="#"><img src="../img/thumb_2.jpg" style="width:100px"><small><br>DevCon 3</small></a></li>
                           <li data-target="#custom_carousel" data-slide-to="2"><a href="#"><img src="../img/thumb_3.jpg" style="width:100px"><small><br>Conference Paper</small></a></li>
                           <li data-target="#custom_carousel" data-slide-to="3"><a href="#"><img src="../img/thumb_4.jpg" style="width:100px"><small><br>Sputnik Release</small></a></li>
                       </ul>
                   </div></div>
                   </div>
                 </div><!--end row-->
               </div>
               </div>
             </div>

      <!--<div class="col-lg-3 col-xs-6">
        <img id="easy-onboarding" src="../img/easy_onboarding.png" alt="easy onboarding trustlines app">
      </div>
      <div class="col-lg-4 col-xs-6">
        <div class="easy-onboarding-text-1">
          <h3>
            <span class="highlight-text">Download</span> the app
          </h3>
        </div>
        <div class="easy-onboarding-text-2">
          <h3>
            <span class="highlight-text">Connect</span> by creating a trustline with a friend
          </h3>
        </div>
        <div class="easy-onboarding-text-2">
          <h3>
            <span class="highlight-text">Start</span> to send & receive payments in the network
          </h3>
        </div>
      </div>
    </div>-->
</section>
