<section id="contact" style="padding-top: 15px; padding-bottom: 0px" !important>
    <div class="container">
        <div class="row" style="margin: 25px 0px">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
          <!--  <a href="http://www.brainbot.com/">
              <img src="../img/bb_logo_grey.png" width="62" height="62">
            </a>-->
            <a id="bblink" href="http://www.brainbot.com/" target="_blank">
            </a>
          </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center">
            <div class="col-lg-2 col-xs-2 text-center">
                <a href="http://www.facebook.com/{{ site.facebook_username }}/?fref=ts" target="_blank">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <!--<p>{{ site.facebook_username }}</p>-->
                </a>
            </div>
          <div class="col-lg-2 col-xs-2 text-center">
              <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".05s"></i>
                  <!--<p>{{ site.twitter_username }}</p>-->
              </a>
          </div>
          <div class="col-lg-2 col-xs-2 text-center">
              <a href="http://trustlines-network-slackinvite.herokuapp.com/" target="_blank">
              <i class="fa fa-slack fa-3x wow bounceIn" data-wow-delay=".05s"></i>
                  <!--<p>{{ site.subreddit_name }}</p>-->
              </a>
          </div>
          <div class="col-lg-2 col-xs-2 text-center">
            <a href="https://www.youtube.com/channel/UCybDQep_O6TSQcsm_tn-n-Q" target="_blank">
              <i class="fa fa-youtube-play fa-3x wow bounceIn" data-wow-delay=".05s"></i>
            </a>
          </div>
        </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
        </div>
    </div>
</section>
