{% assign categories = "Introduction to the concept" | split: ", " %}
  {% for category in categories %}
  <div class="header-content">
      <div class="header-content-inner">
  <section class="bg-image2" id="main-text">
<div class="container">
<div class="col-lg-12 text-center">
      <h1> FAQ </h1>
  <hr class="dark">
</div>
</div>
  <br>
</div>
<div class="container">
  {% for faq in site.faq %}
  {% if category == faq.category %}
  <div class="col-lg-8 col-lg-offset-3 text-left">
    <font color="#ef5350"> <h2> About the Concept</h2></font>
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <h3>What problems are you solving?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <h4> Peer-to-peer mobile payments for the Unbanked</h4>
                <p>There are more than 2 billion <a href="https://www.weforum.org/agenda/2016/05/2-billion-people-worldwide-are-unbanked-heres-how-to-change-this">unbanked</a> people who don't have access to financial services. The Trustlines Network can help here, providing permissionless Peer-to-Peer payments to anyone with a smartphone. There is no need to have an ID, an initial deposit, or a bank account.</p>

            <h4> Peer-to-peer Fiat to Crypto Exchange</h4>
                <p>Centralized cryptocurrency exchanges have high entry barriers and are prone to fund-decimating hacks. The Trustlines Network allows users to buy ETH peer-to-peer, directly from private sellers in the network who list their offers on a decentralized exchange. There is no risk, and no need to meet in person.</p>

            <h4>Empowering Complementary Currencies</h4>
                <p>As of today, communities and business networks using <a href="http://complementarycurrency.org/">Complementary Currencies</a> rely on central organizers and are not easily able to exchange between the boundaries of their community. The Trustlines Network is a tamper-proof solution for hosting customized <a href="https://en.wikipedia.org/wiki/IOU">IOU-based</a> currency networks, with decentralized money issuance and optional support for cross-currency network transfers.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h3>What is People Powered Money?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px" >
          <div class="card-block">
            <p><a href="http://communitycurrenciesinaction.eu/peoplepoweredmoney/">People Powered Money</a> is a popular phrase for <a href="http://complementarycurrency.org/">Complementary Currencies</a>, which are currencies governed and issued between individuals and businesses, instead of banks and governments. In line with the value proposition of the Trustlines Network, People Powered Money operates to address inaccessibility and scarcity in the conventional monetary system. Furthermore, People Powered Money is a <a href="https://sapiens.revues.org/747">solution</a> to reduce macroeconomic instability. </p>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h3>Why is blockchain a good fit for the Trustlines Network?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>A blockchain is a natural fit for a  peer-to-peer money system for a few reasons: it excels at tamper-proof accounting, provides censorship resistance, and allows for decentralized governance of itself as a system. The Ethereum platform enables the Trustlines Network to use smart contracts that are fully interoperable with other decentralized applications (Dapps), providing <a href="https://www.reddit.com/r/ethtrader/comments/43fm3w/the_core_value_proposition_of_ethereum_is_synergy/">synergy</a> within an open and active environment.
</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwelve">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              <h3>What are trustlines and why a network?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>A trustline is a bilateral agreement between exactly two users. This agreement consists of two credit lines, as well as a balance indicating if, and how much, one party owes the other. Payments between non-trusting strangers are implemented by “rippling” balance updates through a network of trustlines (i.e. a chain of friends-of-friends), until the payment reaches the receiver.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h3>What is trustline money?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>Trustline money is based on <a href="https://en.wikipedia.org/wiki/IOU">IOUs</a>, a promise from one user to be “good for” an amount owed to another user. Trustline money can be denominated in a real world currency, a commodity, a crypto token, or any other unit of account that the two parties agree upon. Trustline money is created whenever the balance within a trustline is increased, e.g. when one user owes an amount to the other. Money is conversely destroyed when an imbalance is reduced. This is very similar to how legal tender bank money is <a href="http://positivemoney.org/2014/03/bank-england-money-money-creation-modern-economy/">created and destroyed</a>.
            </p>
          </div>
        </div>
      </div></div></div></div></div>
      <div class="col-lg-12 text-center" style="color: #ef5350">
        <br>    
        <h2>Trustlines Network from a user perspective</h2>
    <br>  
    </div>
      <div class="container">
<div class="col-lg-8 col-lg-offset-3 text-left">
      <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <h3>How do users join the system?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>New users join by downloading the Trustlines Network mobile app, which automatically generates a wallet, and opening a trustline with anyone (e.g. by QR code or NFC) who is already part of the network. Users don’t need to have up-front ETH to participate, as the mobile app will automatically acquire the ETH necessary to pay for transactions, using trustline money.</p>
          </div>
        </div>
      </div>
      </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingSeven">
        <h5 class="mb-0">
          <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <h3>How can users do payments if they don’t have to deposit money or link a credit card?</h3>
          </a>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
        <div class="card-block">
          <p>There is indeed no need to deposit money, link a credit card, or even own an ID or have a bank account to use the Trustlines Network. The spendable balance of an account is based on the credit lines that were given. When two users give each other credit lines, a network structure emerges such that a path of trusting users between any two participants can be found. This enables users to make payments to anyone through a network of friends-of-friends. This is similar to traditional banking, where a bank gives out a loan which can be used to pay other people. The main difference is that loans are not given out by a central entity but instead within a social peer-to-peer network, which is based on users who trust each other. 
</p>
        </div>
      </div>
    </div>
    </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingEight">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <h3>How do payments to anyone work, if users only need to trust their friends?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px" >
          <div class="card-block">
            <p>It works by the payer sending the payment through a chain of friends-of-friends, so that the payee receives the payment. Basically the payable amount is forwarded along a path of users-trusting-users. In this way, the sender and the receiver do not have to know or trust each other. Moreover, all the users who helped facilitate the payment have an unchanged total balance, as they all only forwarded an amount equal to what they received.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingNine">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              <h3>Do users need to have ETH to participate?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>On the Ethereum platform, ETH is needed to pay transaction fees. Nonetheless, users don’t need to have an ETH balance to get started with the Trustlines Network. When a user initially joins the system, a tiny amount of ETH is sent from the friend who onboarded the new user. This allows the app to automatically purchase ETH as trustline money via a decentralized exchange, on an as-needed basis.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTen">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              <h3>How does money get in and out of the system?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>It is not necessary to provide deposits to get money into the system, because trustline money is created peer-to-peer in bilateral credit relationships between users. Depending on preferences, cash deposits and withdrawals are also a possibility. If an initiating user hands cash to any receiving user, the receiver sends a trustlines payment to the initiating user, thus crediting him the equivalent amount in the network. Withdrawing simply works the other way around.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingFive">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <h3>How does settlement of debt work?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>Users may decide to repay debt owed in the Trustlines Network, by making a real world settlement. This happens when the debtor makes a trustlines payment equal to the amount of the value received by the creditor in the real world. The value received in the real world could be cash, services, goods, or whatever other measure of account the two users might agree upon.</p>
          </div>
        </div>
      </div>
</div>
 <div class="card">
        <div class="card-header" role="tab" id="headingEleven">
          <h5 class="mb-0">
            <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              <h3>How can a trustline be closed?</h3>
            </a>
          </h5>
        </div>
        <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
          <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
          <div class="card-block">
            <p>A trustline can only be closed if the balance between both users is zero. If the balance is not zero, the users must settle.</p>
          </div>
        </div>
      </div>
</div>

<div class="card">
  <div class="card-header" role="tab" id="headingThirteen">
    <h5 class="mb-0">
      <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        <h3>How secure is it to use the system?</h3>
      </a>
    </h5>
  </div>
  <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen">
    <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
    <div class="card-block">
      <p>Using the Trustlines Network is just as secure as lending money on a peer-to-peer basis in the real world: Payback is not guaranteed, and is not legally enforceable within the Trustlines Network. However, all credits and debts on the network are notarized on the Ethereum blockchain,  in order to offer a tamper-proof record of all trustline agreements and their balances.</p>
    </div>
  </div>
</div>
</div>

<div class="card">
  <div class="card-header" role="tab" id="headingFourteen">
    <h5 class="mb-0">
      <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
        <h3>What happens if a user fails to pay back debt owed to a friend?</h3>
      </a>
    </h5>
  </div>
  <div id="collapseFourteen" class="collapse" role="tabpanel" aria-labelledby="headingFourteen">
    <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
    <div class="card-block">
      <p>If a user cannot pay back debt upon request, it is up to the two users to reach an agreement on how to work this out. This is why it is very important that users only have a trustline with people they actually trust, and limit credit to realistic amounts. Depending on the legal jurisdiction and the selected terms of the signed trustlines smart-contract agreement, the twist can as a last resolution ultimately be brought to court.</p>
    </div>
  </div>
</div>
</div></div></div>


<div class="col-lg-12 text-center" style="color: #ef5350">
  <br>    
  <h2> How is the Trustlines Network different than</h2>
<br>
    </div>
<div class="container">
<div class="col-lg-8 col-lg-offset-3 text-left">
  <div class="card">
    <div class="card-header" role="tab" id="headingFiveteen">
      <h5 class="mb-0">
        <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseFiveteen" aria-expanded="false" aria-controls="collapseFiveteen">
          <h3>Traditional mobile payment apps?</h3>
        </a>
      </h5>
    </div>
    <div id="collapseFiveteen" class="collapse" role="tabpanel" aria-labelledby="headingFiveteen">
      <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
      <div class="card-block">
        <p>Centralised mobile payment applications require either a money deposit, ID verification, or a link to a bank account or credit card. Users in the Trustlines Network do not need any of these. All that is needed to to begin making payments is access to a mobile phone, an internet connection, as well as another person who is also using the Trustlines Network app.
</p>
      </div>
    </div>
  </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingSixteen">
      <h5 class="mb-0">
        <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          <h3>Mined Cryptocurrencies like Bitcoin?</h3>
        </a>
      </h5>
    </div>
    <div id="collapseSixteen" class="collapse" role="tabpanel" aria-labelledby="headingSixteen">
      <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
      <div class="card-block">
        <p>Mined cryptocurrencies like Bitcoin are virtual commodity-based money systems. Users usually need to buy them with fiat currency (e.g. USD) first, before they can use them for payments. 
          Cryptocurrencies on the Trustlines Network are <a href="https://en.wikipedia.org/wiki/IOU">IOUs</a> created between users who trust each other. Trustline money is created and destroyed when the imbalance of a trustline is increased or decreased. This means that users do not need to buy anything with fiat first. Rather, they simply need a contact on the network who trusts that they can repay the amount at a later point in time.
</p>
      </div>
    </div>
  </div>
  </div><div class="card">
    <div class="card-header" role="tab" id="headingSeventeen">
      <h5 class="mb-0">
        <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
          <h3>The Hawala System?</h3>
        </a>
      </h5>
    </div>
    <div id="collapseSeventeen" class="collapse" role="tabpanel" aria-labelledby="headingSeventeen">
      <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
      <div class="card-block">
        <p>The Trustline Network is similar to the <a href="https://en.wikipedia.org/wiki/Hawala#How_hawala_works">Hawala system</a>, insofar that both are based upon the principle of money transfer without money movement. In the Hawala system, this principle applies only to the intermediaries sending credit, but not to the end-users, who need to deposit cash with a trusted Hawala teller. Further, there is no mobile app to easily access the Hawala system, nor does this system provide the cryptographic security offered by a blockchain-based system.
</p>
      </div>
    </div>
  </div>
  </div><div class="card">
    <div class="card-header" role="tab" id="headingEightteen">
      <h5 class="mb-0">
        <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseEightteen" aria-expanded="false" aria-controls="collapseEightteen">
          <h3>LETS &amp; Community Currencies?</h3>
        </a>
      </h5>
    </div>
    <div id="collapseEightteen" class="collapse" role="tabpanel" aria-labelledby="headingEightteen">
      <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
      <div class="card-block">
        <p>The Trustlines Network is very much inspired by how a <a href="http://wiki.p2pfoundation.net/LETS">LETS</a> (Local Exchange Trade) works. Ryan Fugger, the inventor of <a href="https://classic.ripplepay.com/">Classic Ripple</a>, came up with the idea as a suggestion for “bringing more accountability into users’ spending of credit in a LETS system”. Unlike LETS, which is a <a href="http://wiki.p2pfoundation.net/Mutual_Credit">mutual-credit system</a> that only tracks obligations to- and from- a single central intermediary, the Trustlines Network tracks bilateral obligations between individuals in a social network. This means that users in the Trustlines Network only maintain a credit relationship with the friends they have actively decided to trust. Further, the system makes it easy to set up community currencies without the requirement of a central governor. It also provides the added benefit of being optionally exchangeable with other currencies on the platform. 
</p>
      </div>
    </div>
  </div>
  </div><div class="card">
    <div class="card-header" role="tab" id="headingNineteen">
      <h5 class="mb-0">
        <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
          <h3>Ripple?</h3>
        </a>
      </h5>
    </div>
    <div id="collapseNineteen" class="collapse" role="tabpanel" aria-labelledby="headingNineteen">
      <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
      <div class="card-block">
        <p>The original <a href="http://archive.ripple-project.org/decentralizedcurrency.pdf">Ripple Pay (pdf)</a> idea is similar to the Trustlines Network and actually inspired it. The core differences are that the Trustlines Network has a decentralized architecture, is interoperable with other Ethereum DApps, and comes with a mobile application.
          On the other hand, the company <a href="https://ripple.com/">Ripple</a> provides a B2B service for interbank payments;  their offering is not comparable to the Trustlines Network.</p>
      </div>
    </div>
  </div>
  </div><div class="card">
    <div class="card-header" role="tab" id="headingTwenty">
      <h5 class="mb-0">
        <a class="collapsed" style="color: white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
          <h3>WeTrust?</h3>
        </a>
      </h5>
    </div>
    <div id="collapseTwenty" class="collapse" role="tabpanel" aria-labelledby="headingTwenty">
      <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
      <div class="card-block">
        <p>The Trustlines Network and <a href="https://www.wetrust.io/">WeTrust</a> are both platforms built on the Ethereum blockchain with the purpose of leveraging social capital and trust to improve financial inclusion. They are different in that WeTrust implements "Trusted Lending Circles", while the Trustlines Network is mainly a payment network based on bilateral trust relationships. 
</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwentyOne">
      <h5 class="mb-0">
        <a class="collapsed" style="color: #ef5350" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
          <h3>Any further questions?</h3>
        </a>
      </h5>
    </div>
    <div id="collapseTwentyOne" class="collapse" role="tabpanel" aria-labelledby="headingTwentyOne">
      <div class="padding" style="padding-bottom: 1px; padding-top: 1px">
      <div class="card-block">
        <p> Join the conversation on <a href="http://trustlines-network-slackinvite.herokuapp.com/"> slack </a> or post a question on our <a href="https://www.reddit.com/r/Trustlines/"> reddit</a> </p>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
  </div>
  


    {% endif %}
  {% endfor %}



{% endfor %}    
     <div class="container" style="padding-top: 30px">
  <div class="col-lg-12 text-center">
        <h1>Learn More</h1>       
        <hr class="dark">
     
    <div class="col-lg-12 text-center" style="color: #ef5350">
    <h2> Videos<br><br></h2>
    </div>
     <div class="col-lg-8 col-lg-offset-3 text-left">
         <h3>
    <a style="color: #fff" href="https://www.youtube.com/watch?v=hfHA4_d2nX4">The Trustlines Network: Basic mechanics</a><br><br>
    <a style="color: #fff" href="https://www.youtube.com/watch?v=ZglKRTQZa9I"> The Trustlines Network: EDCON presentation</a><br><br>
    <a style="color: #fff" href="https://www.youtube.com/watch?v=bE8i-4HpKlM">How money works: Banking-101</a><br><br>
    <a style="color: #fff" href="https://www.youtube.com/watch?v=M4ThwS1Xln0">Bernard Lietaer: Why money needs to change now!</a><br><br>
</h3>
    </div>
      <div class="col-lg-12 text-center" style="color: #ef5350">  
      <h2> Publications<br><br></h2>
         </div>
       <div class="col-lg-8 col-lg-offset-3 text-left">
      <h3>
    <a style="color: #fff" href="https://libcom.org/files/__Debt__The_First_5_000_Years.pdf">David Graeber on Debt: The first 5000 years</a><br><br>
    <a style="color: #fff" href="http://www.bankofengland.co.uk/publications/Documents/quarterlybulletin/2014/qb14q102.pdf">Bank of England: Money creation in the modern economy</a><br><br>
    <a style="color: #fff" href="https://valueforpeople.co.uk/wp-content/uploads/sites/6/2013/02/17-June.pdf">People Money: The promise of regional currencies</a><br><br>
    <a style="color: #fff" href="http://community-currency.info/wp-content/uploads/2015/06/ccia-book-people-powered-money.pdf">People Powered Money: designing, developing and delivering community currencies</a><br><br>
      <br>
        <br>
         </h3>
       </div>
<section class="bg-image2 col-lg-offset-2" id="social" style="padding: 10px" !important>
  <h5 class="mb-2">
    <div class="container" style="padding-top: 20px" !important>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="col-lg-3 col-xs-3 text-center">
                <a href="http://www.facebook.com/{{ site.facebook_username }}/?fref=ts">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                    <!--<p>{{ site.facebook_username }}</p>-->
                </a>
            </div>
          <div class="col-lg-3 col-xs-3 text-center">
              <a href="https://twitter.com/{{ site.twitter_username }}">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                  <!--<p>{{ site.twitter_username }}</p>-->
              </a>
          </div>
          <div class="col-lg-3 col-xs-3 text-center">
              <a href="https://reddit.com/r/{{ site.subreddit_name }}/">
              <i class="fa fa-reddit fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                  <!--<p>{{ site.subreddit_name }}</p>-->
              </a>
          </div>
          <div class="col-lg-3 col-xs-3 text-center">
              <a href="http://trustlines-network-slackinvite.herokuapp.com/{{ site.subreddit_name }}/">
              <i class="fa fa-slack fa-3x wow bounceIn" data-wow-delay=".1s" style="color:white"></i>
                  <!--<p>{{ site.subreddit_name }}</p>-->
              </a>
          </div>
        </div>
    </div>
  </h5>
</section>


          <!--
          Original code:
          have to be updated manually!
          order here determines the order on the page, TODO find method without manual assignment!
          {% assign categories = "About the concept, Getting started" | split: ", " %}
          {% assign categories = "About the concept" | split: ", " %}
          {% for category in categories %}
          <section {% cycle '', 'class="bg-dark"' %} id="main-text">
          <div class="container ">
          <div class="col-lg-12 text-center">
            <h3> {{ category }} </h3>
            <hr class="dark">
          </div>
          </div>
          <div class="container ">
            {% for faq in site.faq %}
              {% if category == faq.category %}
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  {{ faq.content }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          </div>
        </div>
            </section>
        {% endfor %}
        -->

