<section id="contact">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Get Involved</h2>
            <hr class="primary">
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 text-left">
            <p>
                    Trustlines Network is still work in progress.
                    We invite everyone to become a part of the movement and help to shape the future of people powered money.
                    Feel free to join us on <a target="_blank" href="https://t.me/trustlines_network">Telegram</a> and start the conversation with like-minded who also believe in a financial
                    system where money is working for the people.
            </p>
          </div>
        </div>

</section>
