<header>
<div class="header-image-background">
  <!--Background image: "Shipping Superhighways" Landsat imagery courtesy of NASA Goddard Space Flight Center and U.S. Geological Survey -->
        <div class="header-content">
            <div class="header-content-inner">
              <div class="logo-container">
                <img class="header-logo" src="../img/logo.png">
              </div>
              <img class="header-img" src='../img/trustlines_network3.png'>
                <!-- <hr> -->
                <!-- <p> -->
                  <h2 style="margin-top: 40px">
                    permissionless mobile payments based on people powered money
                  </h2>
                <!-- </p> -->
                <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Start journey</a>-->
            </div>
        </div>
    </div>
    </header>
