<header>
<div class="header-image-background">
  <!--Background image: "Shipping Superhighways" Landsat imagery courtesy of NASA Goddard Space Flight Center and U.S. Geological Survey -->
        <div class="header-content">
            <div class="header-content-inner">
              <div class="logo-container">
                <img class="header-logo" src="../img/logo.png" alt="trustlines logo" style="width:300px;">
              </div>
  <!--<img class="header-img" src='../img/trustlines_network3.png' alt="trustlines header title" style="height:50%; width:50%">
               -->

                  <h2 style="margin-top: 0px">
                    <strong style="color: #ef5350">permissionless</strong> mobile payments
                  </h2>
                  <h2 >
                    based on people <strong style="color: #ef5350">powered</strong> money
                  </h2>
                  <div class="row" style="padding-top: 40px">

                      <!--<a href="#tech" class="btn btn-primary btn-xl page-scroll" style="border-radius: 0; margin-right: 40px" !important;>Tech</a>-->

                      <a href="#videos" id="headerbutton" class="btn btn-default btn-xl page-scroll" style="border-radius: 3px; margin-right: 40px; width: 140px;" !important;>Videos</a>

                      <a target="_blank" href="../whitepaper.html" class="btn btn-default btn-xl" style="border-radius: 3px; width: 140px;" !important;>Whitepaper</a>

                  </div>

                <!-- </p> -->
                <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Start journey</a>-->
            </div>
        </div>
    </div>
    </header>
