<section id="about">
        <div class="container" color='607d8b'>
            <div class="row">
                <div class="col-lg-6 text-left" style="margin-top: 20px">
                  <!-- <h3 class="text-center">Rethinking Money</h3> -->
                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h2 class="section-heading">People Powered Money</h2>
                          <hr class="primary">
                      </div>
                  </div>
                   <p>
                     In the Trustlines Network every user is acting as a bank by granting credit lines
                     to friends they trust. This allows to issue
                     <a href="http://communitycurrenciesinaction.eu/peoplepoweredmoney/">people powered money</a>
                     between friends
                     and facilitate secure payments between strangers, by sending payments along a chain
                     of trusting friends.
                    </p>
                    <p>
                        Check out the <a href="/whitepaper.html">white paper</a> or <a href="faq.html">FAQ</a> for more information.
                    </p>
                </div>
                <div class="col-lg-6 text-left">
                    <!--<h3 class="text-center">Heading</h3>-->
                    <p>
                        <img src='/img/banks.jpg' class='center-block' height="250">
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-6 text-left" >
                  <!--<h3 class="text-center">Rethinking Money</h3>-->
                   <p>
                     <img src='/img/people.jpg' class='center-block' height="230">
                    </p>
                </div>
                <div class="col-lg-6 text-left" style="margin-top: 30px">
                    <!-- <h3 class="text-center">People-Powered Money</h3> -->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Rethinking Money</h2>
                            <hr class="primary">
                        </div>
                    </div>
                    <p>
                      Most of today’s money is
                      <a href="http://www.bankofengland.co.uk/publications/Documents/quarterlybulletin/2014/qb14q1prereleasemoneycreation.pdf">created by commercial banks (pdf) </a>
                      when they issue loans. Their core service is to basically keep a
                      verifiable record of credit relationships. As blockchain technology is
                      particular good at accounting, it provides an opportunity for communities
                      and enterprises to exchange goods and services in people powered money based on mutual-credit.
                    </p>
                </div>
            </div></div>
    </section>
