<section id="about">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rethinking Money</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container" color='607d8b'>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 text-left" style="margin-top: 20px">
                  <!--<h3 class="text-center">Rethinking Money</h3>-->
                   <p>
                     According to the <a href="bankofengland.co.uk/publications/Documents/quarterlybulletin/2014/qb14q1prereleasemoneycreation.pdf">Bank of England (pdf)</a> most of today’s money is created by banks when they issue loans.
                       Their core service is to basically keep a verifiable record of real world obligations (IOUs).
                       As blockchains are particularly good at accounting, it’s rather straightforward to disintermediate
                       financial institutions in a system where money is represented as IOUs.

                    </p>
                    <p>
                        Check out the <a href="/whitepaper.html">white paper</a> or <a href="faq.html">FAQ</a> for more information.
                    </p>
                </div>
                <div class="col-lg-5 text-left">
                    <!--<h3 class="text-center">Heading</h3>-->
                    <p>
                        <img src='/img/banks.jpg' class='center-block' height="250">
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-5 col-lg-offset-1 text-left" >
                  <!--<h3 class="text-center">Rethinking Money</h3>-->
                   <p>
                     <img src='/img/people.jpg' class='center-block' height="230">
                    </p>
                </div>
                <div class="col-lg-5 text-left" style="margin-top: 30px">
                    <!--<h3 class="text-center">Heading</h3>-->
                    <p>
                        In the Trustlines Network <b>every user is acting as a bank</b> by granting credit lines to friends they trust.
                        This allows to <b>issue money between friends</b> and facilitate secure payments between strangers,
                        by rippling payments along a chain of trusting friends. The Trustlines Network is similar to the <a href="https://www.youtube.com/watch?v=ZztF4NalCfk">original Ripple idea</a>,
                        but built on <a href="https://www.ethereum.org/">Ethereum</a> with a strong focus on ease of adoption and smart contract interoperability.
                    </p>
                </div>
            </div></div>
    </section>
