<section id="join-slack" class="bg-dark" style="padding-top: 50px; padding-bottom: 50px" !important>
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="text-align:center">
              <div class="col-lg-3 col-md-3 col-xs-3 col-lg-offset-1 col-md-offset-1 text-center">
                  <a href="http://ethfans.org/rubyu2/articles/407" target="_blank">
                  <img alt="ETH Fans" src="../img/ETHFans.png" width="80%" height="auto">
                      <!--<p>{{ site.facebook_username }}</p>-->
                  </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3 col-lg-offset-1 col-md-offset-1 text-center">
                <a href="http://www.ibtimes.co.uk/introducing-trustlines-original-ripple-idea-ethereum-1607226" target="_blank">
                <img alt="International Business Times" src="../img/IBT.png" width="80%" height="auto">
                    <!--<p>{{ site.facebook_username }}</p>-->
                </a>
              </div>
            <div class="col-lg-3 col-md-3 col-xs-3 col-lg-offset-1 col-md-offset-1 text-center">
              <a href="https://www.ethnews.com/trustlines-network-releases-sputnik-poc-on-ethereum-testnet" target="_blank">
              <img alt="ETH News" src="../img/ETHNews.png" width="80%" height="auto">
                  <!--<p>{{ site.facebook_username }}</p>-->
              </a>
            </div>

          </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
          </div>
      </div>
  </section>
