<aside id="join-slack" class="bg-dark" style="padding-top: 35px; padding-bottom: 20px" !important>
      <div class="container text-center">
          <div>
            <p>
              <!-- try h2 -->
              <font size="8" style="white; padding-left: 30px"><a href="http://trustlines-network-slackinvite.herokuapp.com/">Join us on slack</a> </font>
            <a href="http://trustlines-network-slackinvite.herokuapp.com/" target="_blank">
              <i class="fa fa-slack fa-3x wow bounceIn"></i>
            </p>
            </a>
          </div>
      </div>
  </aside>
